<style>
  .corrected {
    font-size:36px !important;
    text-transform: lowercase !important;
  }
</style>

{% if section.settings.section_title != blank %}
	  <div class="banner2 w-clearfix" style="margin-bottom: 10px;">
        <h3 class="heading on-lines">{{ section.settings.section_title | escape }}</h3>
        <div class="lines"></div>
      </div>
  {% endif %}

	<div class="column-center w-col w-col-4">
         <div class="btn-wrapper">
          {% if section.settings.btn_text != blank %}
          <a class="corrporate-btn" target="_blank" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
          {% endif %}
  	</div>
              
      </div>
   
<div class="column-center w-col w-col-4">
         <div class="btn-wrapper">
          {% if section.settings.btn_text2 != blank %}
          <a class="corrporate-btn" target="_blank" href="{{section.settings.btn_url2}}">{{section.settings.btn_text2}}</a>
          {% endif %}
  	</div>
              
      </div>

<div class="column-center w-col w-col-4">
         <div class="btn-wrapper">
          {% if section.settings.btn_text3 != blank %}
          <a class="corrporate-btn" target="_blank" href="{{section.settings.btn_url3}}">{{section.settings.btn_text3}}</a>
          {% endif %}
  	</div>
              
      </div>
   </div>

<style>
  .section-title{display:block; margin-bottom:55px; }
  .section-title h2{
    color: #ff007b;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    line-height: 1.1;
  }
  .section-title h2 strong{
    display: block;
    font-weight: 900;
    font-size: 72px;
  }
  .content-wrapper.text-block p{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    line-height: 1.25;
}
  .content-wrapper.text-block a{font-size: 22px; font-weight:700;}
  .text-block .counter{
    display: block;
    color: #fff;
    background: #ff007b;
    font-weight: 900;
    font-size: 35px;
    font-family: Replica, sans-serif;
    width: 75px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: 50px auto;
}
  .text-block p,
  .text-block{display:block; text-align:center;}
  .text-block h3{
    font-family: Replica, sans-serif;
    color: #ff007b;
    font-weight: 700;
}
  .column-center .text-block{display:block; padding:15px 0px; }
  .corrporate-btn{
    white-space: nowrap;
    display: inline-block;
    font-size: 35px;
    font-family: Replica, sans-serif;
    font-weight: 700;
    text-align: center;
    clear: both;
    padding: 30px 70px;
    background: #ff007b;
    color: #fff;
        margin: 10px 0px;
}
  .btn-wrapper{display:block; text-align:center; }
  
  @media screen and (min-width: 768px){
    .image-block{
      display: block;
      position: relative;
      padding-top: 100%;
    }
    .image-block img{position: absolute;
    	left:0;
      	top:0;
      width:100%; height:100%;
      object-fit:contain;
          object-position: bottom;
    }
  }
  
  @media screen and (max-width: 767px){
    .div-block-21{margin-top:15px; }
    .section-title {
      display: block;
      margin-bottom: 20px;
    }
    .section-title h2{
      font-size: 20px;
      line-height: 1.2;
    }
    .section-title h2 strong{
          font-size: 35px;
    }
    .parent-wrapper{padding-top:30px; }
    .corrporate-btn{
    	font-size:20px;
          padding: 20px 20px;
    }
    .btn-wrapper{padding-bottom: 25px; }
  }
</style>
  
<div class="clearfix" style="padding-top:40px; "></div>

      
       <style>
        #Footer .w-container{
        	max-width: 1093px;
        }
      </style>


{% schema %}
  {
    "name": "Button Set",
    "settings": [

		{
			"type" : "text",
			"id"   : "btn_text",
			"label": "Button Text"
		},
		{
			"type" : "url",
			"id"   : "btn_url",
			"label": "Button URL"
		},
		{
			"type" : "text",
			"id"   : "btn_text2",
			"label": "Button Text 2"
		},
		{
			"type" : "url",
			"id"   : "btn_url2",
			"label": "Button URL 2"
		}, 

	{
			"type" : "text",
			"id"   : "btn_text3",
			"label": "Button Text 3"
		},
		{
			"type" : "url",
			"id"   : "btn_url3",
			"label": "Button URL 3"
	}
	 ]
  }
{% endschema %}
