<style>
.plan-a-party .image-wrapper{
	display:inline-block;
  vertical-align: top;
  text-align:center;
  width:49%;
  padding:1%;
  box-sizing:border-box;
  position: relative;
}
  
  img{
  	max-width:100%;
    height:auto;
  }

.small_image img{
	width:80%;
}
  .image-wrapper.image_1{
  top: -98px;
  }
  
  .location-text p{
  	color: #ff007b;
line-height: 17px;
letter-spacing: 0.4px;
    text-align:left;
  }
  
   .location-text p span{
  	color: #25a8cf;
  }
  
  .party-content-header > div{
  	float:left;
  }
  .party-content-header{
  	padding:50px 0px;
  }
  .location-text{
  	padding-top: 112px;
	padding-left: 15px;
  }
  
  .party-content-header:after{
  	content:"";
    display:table;
    clear:both;
  }
  .seprator-img{
  	display:block;
    clear:both;
    width:100%;
    margin-bottom: 70px;
  }
  .seprator-img img{
    width:100%;
  }
  .right_content_party h3{
  	font-family: 'Better together demo', sans-serif;
    color: #51a3c9;
    text-align: left;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-left: 15px;
  }
  .right_content_party h4{
  	color: #ff007b;
    font-weight:700;
    text-align:left;
    font-size: 22px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
  }
  .content_image_1{
  	border:5px solid #ff007b;
    display:block;
    margin:0px auto;
  }
  @media screen and (max-width: 992px){
  	.image-wrapper.image_1{
      top: -70px;
    }
    .location-text {
        padding-top: 90px;
        padding-left: 15px;
    }
  }
   @media screen and (max-width: 768px){
      .location-text {
          padding-top: 76px;
          padding-left: 15px;
      }
   }
  
  @media screen and (max-width: 580px){
      .location-text {
          padding-top: 60px;
          padding-left: 15px;
      }
   }
  
  @media screen and (max-width: 640px){
  	.image-wrapper.image_1{
      top: 0px;
    }
    .plan-a-party .image-wrapper{
    	width:100%;
      	display:block;
      	padding-left:0;
      	padding-right:0;
    }
  }
  
  @media screen and (max-width: 480px){
      .location-text {
          padding-top: 20px;
          padding-left: 0px;
      }
    .party-content-header > div{
      float:left;
      width:100%;
    }
    .party-content-header{
      padding:30px 0px;
    }
   }
</style>

<!-- ================= gallery ================ -->
<div class="collage insepration-gallery location-gallery" style="overflow:hidden; margin-left:-10px; margin-bottom:-10px;">
    <div class="collage-row w-row">
      <div class="content-wrapper w-container">
      <div class="collage-col w-col w-col-12 w-col-small-12 w-col-tiny-12">
        
        <div class="party-content-header">
          {% if section.settings.section_logo != blank %}
          <div class="w-col-9 w-col-small-8">
              <img src="{{ section.settings.section_logo | img_url: '1300x1300' }}" alt="{% if section.settings.section_logo.alt != blank %}{{ section.settings.section_logo.alt | escape }}{% else %}CookieDO NYC{% endif %}" >
          </div>
          <div class="w-col-3 w-col-small-4">
            <div class="location-text">
              <p>{{ section.settings.location}}</p>
              <p><span>{{ section.settings.seats}}</span></p>
            </div>
          </div>
          {% endif %}
        </div>
        
        <div class="clearfix"></div>
        <div class="plan-a-party">
      {% for block in section.blocks %}
           {% if block.settings.image_bg != blank %}
              <div class="image-wrapper {{block.settings.image_size}} image_{{ forloop.rindex }}">
                <img src="{{ block.settings.image_bg | img_url: '1500x1500'  }}" alt="{% if block.settings.image_bg.alt != blank %}{{ block.settings.image_bg.alt | escape }}{% else %}CookieDO NYC{% endif %}" />
              </div>
            {% endif %}
        	
       {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="seprator-img">
	<img src="{{ 'sepr.png' | asset_url}}" alt="sep"/>
</div>
<div class="collage insepration-gallery location-gallery" style="overflow:hidden; margin-left:-10px; margin-bottom:-10px;">
    <div class="collage-row w-row">
      <div class="content-wrapper w-container">
        <div class="w-col w-col-12 content_image_1" style="padding:0;">
        	<img src="{{ section.settings.content_img_1 | img_url: '1300x1300' }}" alt="{% if section.settings.content_img_1.alt != blank %}{{ section.settings.content_img_1.alt | escape }}{% else %}CookieDO NYC{% endif %}"/>
        </div>
        <div style="clear:both; display:block; padding:25px 0px;"></div>
        <div class="w-col w-col-6 w-col-small-6 content_image_1" style="padding:0;">
        	<img src="{{ section.settings.content_img_2 | img_url: '1300x1300' }}" alt="{% if section.settings.content_img_2.alt != blank %}{{ section.settings.content_img_2.alt | escape }}{% else %}CookieDO NYC{% endif %}"/>
        </div>
        <div class="w-col w-col-6 w-col-small-6 right_content_party">
          <h3>{{ section.settings.main_title }}</h3>
          <h4>{{ section.settings.sub_title }}</h4>
          
          {{ section.settings.right_content }}
        </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Plan a Party",
	"class": "party",
    "settings": [
		{
			"type"  : "text",
			"id"    : "location",
			"label" : "Location"
		},
		{
			"type"  : "text",
			"id"    : "seats",
			"label" : "People Limit"
		},
		{
          "type": "image_picker",
          "id": "section_logo",
          "label": "DO Logo"
        },
		{
          "type": "image_picker",
          "id": "content_img_1",
          "label": "Image 1"
        },
		{
          "type": "image_picker",
          "id": "content_img_2",
          "label": "Image 2"
        },
		{
			"type"  : "text",
			"id"    : "main_title",
			"label" : "Title"
		},
		{
			"type"  : "text",
			"id"    : "sub_title",
			"label" : "Subtitle"
		},
		{
			"type"  : "richtext",
			"id"    : "right_content",
			"label" : "Content"
		} 
	],
	"blocks":[
		{
		"type":"gallery_hours",
		"name":"Images",
		"settings":[
					{
                      "type": "image_picker",
                      "id": "image_bg",
                      "label": "Image"
                    },{
                        "type": "select",
                        "id": "image_size",
                        "label": "Image Size",
                        "default": "lage_image",
                        "options": [
                          {
                            "value": "lage_image",
                            "label": "Lage image"
                          },
                          {
                            "value": "small_image",
                            "label": "Small image"
                          }
                        ]
                      }
			]
		}
	],
    "presets": [
      {
        "name": "Location Hourrs",
        "category": "Text",
        "blocks": [
          {
            "type": "gallery_hours"
          },
          {
            "type": "gallery_hours"
          },
          {
            "type": "gallery_hours"
          }
        ]
      }
    ]
  }
{% endschema %}