
<div class="row w-row press-row">
    {% for block in section.blocks %}
      <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
           <div class="press-box">
             <div class="innner-press-box">
               <div class="press-logo">
                 <a href="{% if block.settings.button_link != blank %} {{ block.settings.button_link }} {% else %} javascript:void('0') {% endif %}" target="_blank"><span><img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image.alt | escape }}"></span></a>
               </div>
               <div class="press-description">
               {% if block.settings.title != blank %}
                <p>{{block.settings.title}}</p>
               {% endif %}
               {% if block.settings.button_link != blank %}
                 <a target="_blank" class="btn" href="{% if block.settings.button_link != blank %} {{ block.settings.button_link }} {% else %} javascript:void('0') {% endif %}">
                   {% if block.settings.button_text != blank %}
                   	{{block.settings.button_text}}
                   {% else %}
                   	Read More!
                   {% endif %}
                </a>
               {% endif %}
               </div>
            </div>
          </div>
      </div>
       {% if forloop.index == 4 or forloop.index == 8 or forloop.index == 12 or forloop.index == 16 or forloop.index == 20 or forloop.index == 24 or forloop.index == 28 or forloop.index == 32 or forloop.index == 36 or forloop.index == 40 or forloop.index == 44 or forloop.index == 48 or forloop.index == 52 or forloop.index == 56 or forloop.index == 60 %}
        {% if forloop.last != true %}
		</div><div class="row w-row press-row">
		{% endif %}
      {% endif %}
     
    {% endfor %}
    </div>



{% schema %}
  {
    "name": "Our Partners",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Our Partners"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Our Partners",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
