{% layout 'gift_card' %}

{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
{%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}

<header class="giftcard__header text-center" role="banner">
  <h1 class="main-title">{{ 'gift_cards.issued.subtext' | t }}</h1>
  
  {% comment %}
  <div class="site-header__logo h1 text-center" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ shop.url }}" class="site-header__link site-header__logo-link" itemprop="url">{{ shop.name }}</a>
  </div>
  {% endcomment %}

  {% unless gift_card.enabled %}
    <p class="giftcard__tag">{{ 'gift_cards.issued.disabled' | t }}</p>
  {% endunless %}
  {% assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" %}
  {% if gift_card.expired and gift_card.enabled %}
    <p class="giftcard__tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</p>
  {% endif %}
  {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
    <p class="giftcard__tag giftcard__tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</p>
  {% endif %}
</header>

<div class="divider-line"></div>

<div class="giftcard-wrapper">
  <main class="giftcard" role="main">
    
    <div style="position: relative; text-align: center; margin: 10px;">      
    	<img class="cookiedo-logo" src="{{ 'logo.png' | asset_img_url: '150x' }}">
    </div>
    
    <h1 class="text-center fancy-hero">cookie dough confections</h1>
    <h3 class="text-center">gourmet edible & bakeable cookie dough</h3>
    
    {%- assign initial_value_size = formatted_initial_value | size -%}
      <div class="h1 text-center" style="font-size: 48px; font-weight: bold;">
        {% if gift_card.balance != gift_card.initial_value %}
          <span class="giftcard__tooltip">
            <span class="giftcard__tooltip-label">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}</span>
          </span>
        {% endif %}
        <strong>{{ formatted_initial_value }}</strong>
      </div>
    
    <p class="text-center">
      towards your next purchase at <a href="www.cookiedonyc.com">www.cookieDOnyc.com</a>.
    </p>
    
    <div class="giftcard__wrap">
      <img src="{{ 'gift-card.png' | asset_url }}" alt="">      

      {%- assign code_size = gift_card.code | format_code | size -%}
      <div class="giftcard__code{% if code_size <= 25 %} giftcard__code--large{% elsif code_size > 25 and code_size <= 30 %} giftcard__code--medium{% else %} giftcard__code--small{% endif %}" onclick="selectText('GiftCardDigits');">
        <div class="giftcard__code__inner">
          <strong class="giftcard__code__text {% if gift_card.expired or gift_card.enabled != true %} disabled{% endif %}" id="GiftCardDigits">{{ gift_card.code | format_code }}</strong>
        </div>
      </div>
    </div>

    <p class="text-center">
      {{ 'gift_cards.issued.redeem_html' | t: value: formatted_initial_value_stripped }}
    </p>

    <div id="QrCode" class="giftcard__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
    
    <p class="text-center">
      This gift card is only eligible to be redeemed online at www.cookiedonyc.com. Not to be used in-store.
    </p>

    <div class="text-center" style="margin: 30px auto; text-align: center;">
      <div style="display: inline-block;">
      <p>
        <a href="{{ shop.url }}" class="btn" target="_blank">
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
        <button type="button" class="btn print-link" onclick="window.print();">
          {{ 'gift_cards.issued.print' | t }}
        </button>
      </p>
      {% if gift_card.pass_url %}
        <p>
          <a class="giftcard__apple-wallet" href="{{ gift_card.pass_url }}">
            <img class="giftcard__apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
          </a>
        </p>
      {% endif %}
      </div>
    </div>
  </main>
</div>

<div class="divider-line"></div>

<div style="text-align: center; margin-bottom: 30px;">
<div class="bottom-line"><p>shop <b>cookiedonyc.com</b> // share <b>@cookiedonyc</b> // tag <b>#cookiedonyc</b> // ask <a href="mailto:info@cookiedonyc.com">info@cookiedonyc.com</a></p></div>
</div>