{% section 'header-featured-banner' %}

<script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
<link rel="stylesheet" media="all" href="//cdn.shopify.com/app/services/25098354/assets/6805356583/checkout_stylesheet/v2-ltr-edge-4d0cd57abbeffc1b2c0b7b4bb1e35dd0-13626502698962713159">
<script type="text/javascript" async="" src="https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1"></script>
<script type="text/javascript" charset="utf-8" id="zm-extension" src="chrome-extension://fdcgdnkidjaadafnichfpabhfomcebme/scripts/webrtc-patch.js" async=""></script>
<script src="//cdn.shopify.com/s/assets/checkout-67bc0833bfbe95f3f7b3a4ce4182cfa1e447d37e691e09ce590d6e179de7a53b.js" crossorigin="anonymous"></script>
<script src="//cdn.shopify.com/app/services/25098354/javascripts/countries/6805356583/en/countries-d25c690093aecdea3d75ca28690cfc92bc089c22-1509553735.js"></script>
<script type="text/javascript">
  if (window.opener) {
    window.opener.postMessage(JSON.stringify({"current_checkout_page": "\/checkout\/contact_information"}), "*");
  }

  if (typeof Shopify == 'undefined') { Shopify = {}; }
  Shopify.Checkout = {};
  Shopify.Checkout.geolocatedAddress = {"lat":31.488799999999998,"lng":74.36859999999999};
  Shopify.Checkout.locale = "en";
  Shopify.Checkout.token = "e436c0a10ec1004f1d3d71fd78ad5022";
  Shopify.Checkout.requiresShipping = true;
  Shopify.Checkout.page = "update";
  Shopify.Checkout.step = "contact_information";
  Shopify.Checkout.apiHost = "cookiedo.myshopify.com";
  Shopify.Checkout.paymentMethods = {"visa":"Visa","master":"Mastercard","discover":"Discover","american_express":"American Express","diners_club":"Diners Club","diners":"Diners Club","jcb":"JCB","dankort":"Dankort","maestro":"Maestro","forbrugsforeningen":"Forbrugsforeningen","paypal":"PayPal","bogus":"Bogus","bitcoin":"Bitcoin","litecoin":"Litecoin","dogecoin":"Dogecoin"};
  Shopify.Checkout.translations = {"review":{"credit_card":{"description":"ending with %{lastDigits}","expiration":"expires %{date}","edit_billing":"Edit billing","add":"Add new card","expired":"Expired"}}};
  Shopify.Checkout.releaseStage = "production";

  if (typeof ShopifyPay == 'undefined') { ShopifyPay = {}; }
  ShopifyPay.apiHost = "pay.shopify.com";
  ShopifyPay.apiToken = "QUlFOHpRU1hHMjIveGU5b1dadnVSUGQyVXJkZWNmREIvYnllbTV5OGp4N1IrQVJtWkpXVlZEMWY5TTUyd0ZORC0teHNrMXllUk1wMlFxTkJnazhVcmJTdz09--19aee61ce79f9c6b8e3279d1fce5745d162f53b0";

  Shopify.Checkout.AddressFormat = {"N_p_c_sc_a_a":[["company"],["last_name","first_name"],["zip"],["country"],["province","city"],["address1"],["address2"],["phone"]],"N_p_c_c_a_a":[["company"],["last_name","first_name"],["zip"],["country"],["city"],["address1"],["address2"],["phone"]],"n_a_a_c_csp":[["first_name","last_name"],["company"],["address1"],["address2"],["city"],["country","province","zip"],["phone"]],"n_a_a_c_cs":[["first_name","last_name"],["company"],["address1"],["address2"],["city"],["country","province"],["phone"]],"n_a_a_c_cp":[["first_name","last_name"],["company"],["address1"],["address2"],["city"],["country","zip"],["phone"]],"n_a_a_c_c":[["first_name","last_name"],["company"],["address1"],["address2"],["city"],["country"],["phone"]]};

  var thankYouStep = false;
  var rememberMeCookie = false;
  var rememberMeEnabled = true;

  if(thankYouStep) {
    Shopify.Checkout.OrderStatus = OrderStatusPageApi.prototype;
  }

  if(rememberMeCookie && rememberMeEnabled) {
    Shopify.Checkout.rememberMeCookieIsHere = true;
  }
</script>
<script async="" src="//cdn.shopify.com/s/assets/shop_events_listener-f2c5800305098f0ebebdfa7d980c9abf56514c46d5305e97a7c476f7c9116163.js"></script>

<div id="Team" class="{{ page.handle }} content-section content-pages">
  <div class="content-wrapper w-container">

    <form class="edit_checkout animate-floating-labels" novalidate="novalidate" data-customer-information-form="true" data-email-or-phone="false" action="/25098354/checkouts/e436c0a10ec1004f1d3d71fd78ad5022" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="Kj/UvRvQYCu9GzyGj+LS+w+D5uwBqdDIaldfJWu39M0PV9mWTNyp49fixOeudpXIs+NFTs2kwrLLqzk0UiTr5w==">

  <input type="hidden" name="previous_step" id="previous_step" value="contact_information">
  <input type="hidden" name="step" value="shipping_method">

  <div class="step__sections">
      
<div class="section section--contact-information">
  <div class="section__header">
    <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
      <h2 class="section__title layout-flex__item layout-flex__item--stretch" id="main-header" tabindex="-1">
        Contact information
      </h2>

        <p class="layout-flex__item">
          <span aria-hidden="true">Already have an account?</span>
          <a data-trekkie-id="have_an_account_login_link" href="/account/login?checkout_url=https%3A%2F%2Fcookiedo.myshopify.com%2F25098354%2Fcheckouts%2Fe436c0a10ec1004f1d3d71fd78ad5022%3Fstep%3Dcontact_information">
            <span class="visually-hidden">Already have an account?</span>
            Log in
</a>        </p>
    </div>
  </div>
  <div class="section__content" data-section="customer-information" data-shopify-pay-validate-on-load="true">
        <div class="fieldset">
          <div class="field field--required field--error">
            
            <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_email">Email</label>
              <input placeholder="Email" autocapitalize="off" spellcheck="false" autocomplete="shipping email" data-trekkie-id="email_field" data-shopify-pay-handle="true" data-autofocus="true" data-backup="customer_email" aria-describedby="checkout-context-step-one" aria-invalid="true" aria-required="true" class="field__input" size="30" type="email" name="checkout[email]" id="checkout_email">
            </div>
<p class="field__message field__message--error" id="error-for-email">Please enter a valid email address</p></div>        </div> 

        <div class="fieldset-description" data-buyer-accepts-marketing="">
          <div class="section__content">
            <div class="checkbox-wrapper">
  <div class="checkbox__input">
    <input name="checkout[buyer_accepts_marketing]" type="hidden" value="0"><input class="input-checkbox" data-backup="buyer_accepts_marketing" data-trekkie-id="buyer_accepts_marketing_field" type="checkbox" value="1" checked="checked" name="checkout[buyer_accepts_marketing]" id="checkout_buyer_accepts_marketing">
  </div>
  <label class="checkbox__label" for="checkout_buyer_accepts_marketing">
    Keep me up to date on news and exclusive offers
</label></div>

          </div>
        </div>
  </div> 
</div> 


  <div class="section section--shipping-address" data-shipping-address="" data-update-order-summary="">

    <div class="section__header">
      <h2 class="section__title">
          Shipping address
      </h2>
    </div>

    <div class="section__content">
      <div class="fieldset" data-address-fields="">

        <input class="visually-hidden" autocomplete="shipping given-name" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="first_name" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][first_name]">
<input class="visually-hidden" autocomplete="shipping family-name" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="last_name" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][last_name]">
<input class="visually-hidden" autocomplete="shipping organization" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="company" data-honeypot="true" size="30" type="text" name="checkout[shipping_address][company]">
<input class="visually-hidden" autocomplete="shipping address-line1" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="address1" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][address1]">
<input class="visually-hidden" autocomplete="shipping address-line2" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="address2" data-honeypot="true" size="30" type="text" name="checkout[shipping_address][address2]">
<input class="visually-hidden" autocomplete="shipping address-level2" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="city" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][city]">
<input class="visually-hidden" autocomplete="shipping country" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="country" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][country]">
<input class="visually-hidden" autocomplete="shipping address-level1" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="province" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][province]">
<input class="visually-hidden" autocomplete="shipping postal-code" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="zip" data-honeypot="true" aria-required="true" size="30" type="text" name="checkout[shipping_address][zip]">
<input class="visually-hidden" autocomplete="shipping tel" tabindex="-1" aria-hidden="true" aria-label="no-label" data-autocomplete-field="phone" data-honeypot="true" size="30" type="text" name="checkout[shipping_address][phone]">




  

  

<div class="field field--required field--error field--half" data-address-field="first_name">
  
  <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_first_name">First name</label>
    <input placeholder="First name" autocomplete="shipping given-name" data-trekkie-id="shipping_firstname_field" data-backup="first_name" class="field__input" aria-describedby="error-for-first_name tooltip-for-first_name" aria-invalid="true" aria-required="true" size="30" type="text" value="" name="checkout[shipping_address][first_name]" id="checkout_shipping_address_first_name">
  </div>
<p class="field__message field__message--error" id="error-for-first_name">Please enter your first name</p></div><div class="field field--required field--error field--half" data-address-field="last_name">
  
  <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_last_name">Last name</label>
    <input placeholder="Last name" autocomplete="shipping family-name" data-backup="last_name" data-trekkie-id="shipping_lastname_field" class="field__input" aria-describedby="error-for-last_name tooltip-for-last_name" aria-invalid="true" aria-required="true" size="30" type="text" value="" name="checkout[shipping_address][last_name]" id="checkout_shipping_address_last_name">
  </div>
<p class="field__message field__message--error" id="error-for-last_name">Please enter your last name</p></div><div data-address-field="company" class="field field--optional">
    
    <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_company">Company (optional)</label>
      <input placeholder="Company (optional)" autocomplete="shipping organization" data-trekkie-id="shipping_company_field" data-backup="company" class="field__input" size="30" type="text" value="" name="checkout[shipping_address][company]" id="checkout_shipping_address_company">
    </div>
</div><div class="field field--required field--error" data-address-field="address1" data-google-places="true">
  
  <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_address1">Address</label>
    <input placeholder="Address" autocomplete="shipping address-line1" autocorrect="off" role="combobox" aria-autocomplete="list" aria-owns="address-autocomplete" aria-expanded="false" aria-describedby="error-for-address1 tooltip-for-address1" aria-invalid="true" aria-required="true" data-backup="address1" data-trekkie-id="shipping_address1_google_autocomplete_field" data-google-autocomplete="true" data-google-autocomplete-title="Suggestions" data-google-autocomplete-single-item="1 item available" data-google-autocomplete-multi-item="{{number}} items available" data-google-autocomplete-item-selection="{{number}} of {{total}}" class="field__input" size="30" type="text" value="" name="checkout[shipping_address][address1]" id="checkout_shipping_address_address1">
  </div>
<p class="field__message field__message--error" id="error-for-address1">Please enter your address</p></div><div class="field field--optional" data-address-field="address2" data-google-places="true">
    
    <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_address2">Apartment, suite, etc. (optional)</label>
      <input placeholder="Apartment, suite, etc. (optional)" autocomplete="shipping address-line2" autocorrect="off" data-trekkie-id="shipping_address2_field" data-backup="address2" class="field__input" size="30" type="text" value="" name="checkout[shipping_address][address2]" id="checkout_shipping_address_address2">
    </div>
</div><div data-address-field="city" data-google-places="true" class="field field--required field--error">
  
  <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_city">City</label>
    <input placeholder="City" autocomplete="shipping address-level2" autocorrect="off" data-trekkie-id="shipping_city_field" data-backup="city" class="field__input" aria-describedby="error-for-city tooltip-for-city" aria-invalid="true" aria-required="true" size="30" type="text" value="" name="checkout[shipping_address][city]" id="checkout_shipping_address_city">
  </div>
<p class="field__message field__message--error" id="error-for-city">Please enter your city</p></div><div class="field field--required field--three-eights field--show-floating-label" data-address-field="country" data-google-places="true">
  
  <div class="field__input-wrapper field__input-wrapper--select"><label class="field__label field__label--visible" for="checkout_shipping_address_country">Country</label>
    <select size="1" autocomplete="shipping country" data-trekkie-id="shipping_country_field" data-backup="country" class="field__input field__input--select" aria-required="true" name="checkout[shipping_address][country]" id="checkout_shipping_address_country"><option data-code="US" selected="selected" value="United States">United States</option></select>
  </div>
</div>


  
  
  


      <div class="field field--required field--error field--show-floating-label field--three-eights" data-address-field="province" data-google-places="true">
  
  <div class="field__input-wrapper field__input-wrapper--select"><label class="field__label field__label--visible" for="checkout_shipping_address_province">State</label>
    <select placeholder="Region" autocomplete="shipping address-level1" data-trekkie-id="shipping_province_field" data-backup="province" class="field__input field__input--select" aria-describedby="error-for-province tooltip-for-province" aria-invalid="true" aria-required="true" name="checkout[shipping_address][province]" id="checkout_shipping_address_province"><option value="" disabled="">State</option><option data-code="AL" value="Alabama">Alabama</option><option data-code="AK" value="Alaska">Alaska</option><option data-code="AS" value="American Samoa">American Samoa</option><option data-code="AZ" value="Arizona">Arizona</option><option data-code="AR" value="Arkansas">Arkansas</option><option data-code="CA" value="California">California</option><option data-code="CO" value="Colorado">Colorado</option><option data-code="CT" value="Connecticut">Connecticut</option><option data-code="DE" value="Delaware">Delaware</option><option data-code="DC" value="District of Columbia">District of Columbia</option><option data-code="FM" value="Federated States of Micronesia">Federated States of Micronesia</option><option data-code="FL" value="Florida">Florida</option><option data-code="GA" value="Georgia">Georgia</option><option data-code="GU" value="Guam">Guam</option><option data-code="HI" value="Hawaii">Hawaii</option><option data-code="ID" value="Idaho">Idaho</option><option data-code="IL" value="Illinois">Illinois</option><option data-code="IN" value="Indiana">Indiana</option><option data-code="IA" value="Iowa">Iowa</option><option data-code="KS" value="Kansas">Kansas</option><option data-code="KY" value="Kentucky">Kentucky</option><option data-code="LA" value="Louisiana">Louisiana</option><option data-code="ME" value="Maine">Maine</option><option data-code="MH" value="Marshall Islands">Marshall Islands</option><option data-code="MD" value="Maryland">Maryland</option><option data-code="MA" value="Massachusetts">Massachusetts</option><option data-code="MI" value="Michigan">Michigan</option><option data-code="MN" value="Minnesota">Minnesota</option><option data-code="MS" value="Mississippi">Mississippi</option><option data-code="MO" value="Missouri">Missouri</option><option data-code="MT" value="Montana">Montana</option><option data-code="NE" value="Nebraska">Nebraska</option><option data-code="NV" value="Nevada">Nevada</option><option data-code="NH" value="New Hampshire">New Hampshire</option><option data-code="NJ" value="New Jersey">New Jersey</option><option data-code="NM" value="New Mexico">New Mexico</option><option data-code="NY" value="New York">New York</option><option data-code="NC" value="North Carolina">North Carolina</option><option data-code="ND" value="North Dakota">North Dakota</option><option data-code="MP" value="Northern Mariana Islands">Northern Mariana Islands</option><option data-code="OH" value="Ohio">Ohio</option><option data-code="OK" value="Oklahoma">Oklahoma</option><option data-code="OR" value="Oregon">Oregon</option><option data-code="PW" value="Palau">Palau</option><option data-code="PA" value="Pennsylvania">Pennsylvania</option><option data-code="PR" value="Puerto Rico">Puerto Rico</option><option data-code="RI" value="Rhode Island">Rhode Island</option><option data-code="SC" value="South Carolina">South Carolina</option><option data-code="SD" value="South Dakota">South Dakota</option><option data-code="TN" value="Tennessee">Tennessee</option><option data-code="TX" value="Texas">Texas</option><option data-code="UT" value="Utah">Utah</option><option data-code="VT" value="Vermont">Vermont</option><option data-code="VI" value="Virgin Islands">Virgin Islands</option><option data-code="VA" value="Virginia">Virginia</option><option data-code="WA" value="Washington">Washington</option><option data-code="WV" value="West Virginia">West Virginia</option><option data-code="WI" value="Wisconsin">Wisconsin</option><option data-code="WY" value="Wyoming">Wyoming</option><option data-code="AA" value="Armed Forces Americas">Armed Forces Americas</option><option data-code="AE" value="Armed Forces Europe">Armed Forces Europe</option><option data-code="AP" value="Armed Forces Pacific">Armed Forces Pacific</option></select>
  </div>
<p class="field__message field__message--error" id="error-for-province">Please select your state / province</p></div><div class="field field--required field--error field--quarter" data-address-field="zip" data-google-places="true">
  
  <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_zip">ZIP code</label>
    <input placeholder="ZIP code" autocomplete="shipping postal-code" data-backup="zip" data-trekkie-id="shipping_zip_google_autocomplete_field" data-google-autocomplete="true" data-google-autocomplete-title="Suggestions" data-google-autocomplete-single-item="1 item available" data-google-autocomplete-multi-item="{{number}} items available" data-google-autocomplete-item-selection="{{number}} of {{total}}" class="field__input field__input--zip" aria-describedby="error-for-zip tooltip-for-zip" aria-invalid="true" aria-required="true" size="30" type="text" value="" name="checkout[shipping_address][zip]" id="checkout_shipping_address_zip">
  </div>
<p class="field__message field__message--error" id="error-for-zip">Please enter your zip / postal code and Please enter a valid zip / postal code for , United States</p></div><div data-address-field="phone" class="field field--optional">
    
    <div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_address_phone">Phone (optional)</label>
      <input placeholder="Phone (optional)" autocomplete="shipping tel" data-backup="phone" data-trekkie-id="shipping_phone_field" data-phone-formatter="true" data-phone-formatter-country-select="[name='checkout[shipping_address][country]']" class="field__input field__input--numeric" size="30" type="tel" value="" name="checkout[shipping_address][phone]" id="checkout_shipping_address_phone">
    </div>
</div></div> 
    </div> 
  </div> 


  



    
  </div>

  

<div class="step__footer" data-step-footer="">

    <button name="button" type="submit" class="step__footer__continue-btn btn " data-trekkie-id="continue_to_shipping_method_button" aria-busy="false">
  <span class="btn__content">
    Continue to shipping method
  </span>
  <svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
</button>
  
</div>


<input type="hidden" name="checkout[client_details][browser_width]" value="1349"><input type="hidden" name="checkout[client_details][browser_height]" value="295"><input type="hidden" name="checkout[client_details][javascript_enabled]" value="1"></form>
    
  </div>
</div>

